@import '../../Styles/mixins.scss';
@import '../../Styles/variables.scss';


.footer {
  display: flex;
  background-color: $Light-grey;
  height: 60px;

  &__text {
    font-size: 20px;
    font-family: 'proxima-nova';
    margin-left: 167px;
  }
}